body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 2rem;
}

section {
    min-height: 18rem;
}

header {
    background-color: #999;
    min-height: 5rem;
    margin-bottom: 1rem;
}

#a {
    background-color: red;
}

#b {
    background-color: orange;
}

#c {
    background-color: yellow;
}

footer {
    background-color: #999;
    min-height: 5rem;
    margin-top: 1rem;
}

@media(min-width:560px) {
    .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    #a {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #b {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #c {
        grid-row: 1/3;
        grid-column: 2/3;
    }
}

@media(min-width:960px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }

    #a {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    #b {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    #c {
        grid-column: 4/5;
        grid-row:1/3;
    }

}