body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 2rem;
}

section {
    min-height: 18rem;
}

header {
    background-color: #999;
    min-height: 5rem;
    margin-bottom: 1rem;
}

#a {
    background-color: rgb(18, 214, 67);
    min-height: 20rem;
}

#b {
    background-color: rgba(117, 238, 101, 0.795);
    min-height: 13rem;
}

#c {
    background-color: yellow;
    min-height: 13rem;
}

footer {
    background-color: #999;
    min-height: 5rem;
    margin-top: 1rem;
}
@media(min-width:560px){
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}
#a{
grid-column: 1/5;
grid-row:1/3;
}
#b{
grid-column: 1/3;
grid-row:3/4;
}
#c{
grid-column: 3/5;
grid-row: 3/4;
}
}
@media(min-width:960px){
    section{
        height: 30rem;
    }
#a{
grid-column:2/4;
grid-row: 1/span 3;
}
#b{
grid-column: 1/2;
grid-row: 1/span 3;

}
#c{
    grid-column: 4/5;
    grid-row: 1/span 3;

}
}